[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
mypy = "*"
pytest = "*"
pytest-watch = "*"
autopep8 = "*"

[packages]
sqlalchemy = "*"
marshmallow = "==3.0.0rc4"

[requires]
python_version = "3.7"
